.header{
    height: 70px;
    width: 100%;
    // background-color: yellow;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;

    .logo-container{
        height: 100%;
        width: 70px;
        padding: 25px;
    }

    .options{
        width: 50px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        // background-color: orange;

        .option {
            // background-color: #444;
            padding: 10px 10px;
            cursor: pointer;
        }
    }
}